.Entry {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 20px;
}

.Entry ul {
    padding: 0;   
}

.techTree {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px;
}

th {
    font-weight: bold;
    text-align: center;
}

.ResearchEntry {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.ResearchEntry table {
    width: 100%;
    vertical-align: top;
}

.ManufactureEntry {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.ManufactureEntry table {
    width: 100%;
    vertical-align: top;
}