.articleContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.rulesetArticle {
    padding: 2em;
    flex-basis: 1px;
    flex-grow: 1;
    overflow-y: auto;
}

article header {
    font-size: 24px;
    border-bottom: 1px solid #777;
    margin-bottom: 1em;
}

.iconButton {
    border: 0px;
    background-color: inherit;
    color: var(--primary);
}

article .auto-width { /*specificity fight*/
    width: auto;
    display: inline-table;
    vertical-align: top;
    margin: 0 1em 1em;
}

.InventoryQuantity {
    min-width: 30px;
    display: inline-block;
    text-align: right;
}

.TechTree {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray);
}

.TechTree.sm {
    width: 25%;
    height: 25%;
}
.TechTree.lg {
    width: 75%;
    height: 75%;
}

.TechTree .centerButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

.debugPane {
    max-height: 80vh;
    overflow: auto;
}
.modal-80w {
    max-width: 80% !important;
}

img.facilitySprite {
    zoom: 4;
    image-rendering: pixelated;
}

div.facilitySprite {
    display: grid;
    --facility-size: 1;
    grid-template-columns: repeat(var(--facility-size), 128px);
    grid-template-rows: repeat(var(--facility-size), 128px);
    position: relative;
    width: calc(var(--facility-size) * 32px * 4);
    height: calc(var(--facility-size) * 32px * 4);
}

div.facilitySprite img {
    zoom: 4;
    image-rendering: pixelated;
}

.singleImage {
    zoom: 2;
    image-rendering: pixelated;
}

.PaperDoll {
    position: relative;
    width: calc(320 * 2px);
    height: calc(200 * 2px);
    background-color: #000;
}

.PaperDoll>img {
    position: absolute;
}

.PaperDoll>select {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
}

.PaperDoll>img:first-child {
    position: relative;
}

.damageType {
    font-weight: 600;
}

.CommendationCriteria {
    display: flex;
}

.CommendationCriteria aside {
    padding-left: 20px;
    border-left: 1px solid var(--gray);
    margin-left: 10px;
}

.EventTrigger {
    clear: both;
}

.EventTrigger .TriggerLabel {
    float: left;
}

.EventTrigger .TriggerStatus {
    float: right;
    min-width: 40px;
    padding-left: 10px; 
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .Category {
        columns: auto 2;
    }
}

@media screen and (min-width: 992px){
    .Category {
        columns: auto 4;
    }
}
