.articleContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.rulesetArticle {
    padding: 2em;
    flex-basis: 1px;
    flex-grow: 1;
    overflow-y: auto;
}

article header {
    font-size: 24px;
    border-bottom: 1px solid #777;
    margin-bottom: 1em;
}

.iconButton {
    border: 0px;
    background-color: inherit;
    color: var(--primary);
}

article .auto-width { /*specificity fight*/
    width: auto;
    display: inline-table;
    vertical-align: top;
    margin: 0 1em;
}

.InventoryQuantity {
    min-width: 30px;
    display: inline-block;
    text-align: right;
}

.TechTree {
    width: 50%;
    height: 50%;
    display: inline-block;
    border: 1px solid var(--gray);
}

.TechTree.sm {
    width: 25%;
    height: 25%;
}
.TechTree.lg {
    width: 75%;
    height: 75%;
}
.debugPane {
    max-height: 80vh;
    overflow: auto;
}
.modal-80w {
    max-width: 80% !important;
}